<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" class="custab-button" disabled>
      <ion-img src="../assets/home-icon.png"></ion-img>
      <ion-label>
        <p style="color: #716e89; font-family: 'IBM Plex Sans, monospace'">
          Home
        </p>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" class="custab-button">
      <ion-img src="../assets/transactions-icon.png"></ion-img>
      <ion-label>
        <p style="color: #716e89; font-family: 'IBM Plex Sans, monospace'">
          Transactions
        </p>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card" class="custab-button">
      <ion-img src="../assets/card-icon.png"></ion-img>
      <ion-label>
        <p style="color: #716e89; font-family: 'IBM Plex Sans, monospace'">
          Card
        </p>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" class="custab-button" disabled>
      <ion-img src="../assets/more-icon.png"></ion-img>
      <ion-label>
        <p style="color: #716e89; font-family: 'IBM Plex Sans, monospace'">
          More
        </p>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
