<ion-header no-border>
  <ion-buttons
    slot="start"
    style="display: block !important; position: absolute; top: 2rem; left: 10px"
  >
    <ion-back-button text="" defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title style="color: #fff"> Transactions </ion-title>
  <img style="width: 100%" object-fit: cover src="../../assets/header.png" />
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider style="padding-top: 10px; padding-bottom: 10px">
      <ion-label>
        <p
          style="
            color: #716e89;
            font-family: 'IBM Plex Sans, monospace';
            font-weight: 200;
          "
        >
          JUNE 2020
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-row style="width: 100%">
            <ion-col size="2">
              <img src="../../assets/dollcard.png" />
            </ion-col>
            <ion-col>
              <span>
                <h2
                  style="font-family: IBM Plex Sans, monospace; font-size: 14px"
                >
                  Dollar Card Topup via Wallet
                </h2>
                <p
                  style="
                    display: inline;
                    font-family: 'IBM Plex Mono, monospace';
                    color: #716e89;
                  "
                >
                  &#8358;16,000.00
                </p>
                <small style="float: right; padding-right: 10px; color: #716e89"
                  >Yesterday</small
                >
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Transfer Funds to Jane Doe
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    &#8358;-12,000.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >Jun 16</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Transfer Funds to Jane Doe
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    $6,000.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >Jun 16</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Transfer Funds to Jane Doe
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    -$20.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >Jun 16</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label style="padding-top: 10px; padding-bottom: 10px">
        <p
          style="
            color: #716e89;
            font-family: 'IBM Plex Sans, monospace';
            font-weight: 200;
          "
        >
          APRIL 2020
        </p>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-row style="width: 100%">
            <ion-col size="2">
              <img src="../../assets/dollcard.png" />
            </ion-col>
            <ion-col>
              <span>
                <h2
                  style="font-family: IBM Plex Sans, monospace; font-size: 14px"
                >
                  Naira Card Topup via Wallet
                </h2>
                <p
                  style="
                    display: inline;
                    font-family: 'IBM Plex Mono, monospace';
                    color: #716e89;
                  "
                >
                  $6,000.00
                </p>
                <small style="float: right; padding-right: 10px; color: #716e89"
                  >Yesterday</small
                >
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Transfer Funds to Jane Doe
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    $6,000.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >April 27</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Dollar Card Topup via Wallet
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    $6,000.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >April 12</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="display: inline-flex">
          <ion-grid>
            <ion-row style="width: 100%">
              <ion-col size="2">
                <img src="../../assets/transfer.png" />
              </ion-col>
              <ion-col>
                <span>
                  <h2
                    style="
                      font-family: IBM Plex Sans, monospace;
                      font-size: 14px;
                    "
                  >
                    Transfer Funds to Jane Doe
                  </h2>
                  <p
                    style="
                      display: inline;
                      font-family: 'IBM Plex Mono, monospace';
                      color: #716e89;
                    "
                  >
                    $6,000.00
                  </p>
                  <small
                    style="float: right; padding-right: 10px; color: #716e89"
                    >Jun 16</small
                  >
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
